{% extends 'base.html' %}

{% block main %}

<h2> Contact Form </h2>


<form action="{{ url_for('contact') }}" method="POST">
    {{form.csrf_token}}
    <div class="contact-group">
        {{ form.fullname.label }}
        {{ form.fullname}}
    </div>

    <div class="contact-group">
        {{ form.email.label }}
        {{ form.email }}
    </div>

    <div class="contact-group">
        {{ form.subject.label }}
        {{ form.subject }}

    </div>

    <div class="contact-group">
        {{ form.message.label }}
        {{ form.message }}

    </div>

    <button type="submit" class="btn">Submit</button>
    
</form>

{% endblock %}